/*=================Other========*/
p:not(:hover){
	color: red;
}
/*=================Position========*/
/*p:first-child{
	color: red;
}
p:last-child{
	color: blue;
}
p:nth-child(-n + 3){
	color: red;
}
*/
/*First of p and parent*/
/*p:first-child{
	color: red;
}
p:first-of-type{
	background: yellow;
}
p:last-child{
	color: red;
}
p:last-of-type{
	background: yellow;
}*/
/*p:nth-child(even){
	color: red;
}
p:nth-of-type(even){
	background: yellow;
}*/
/*===========Forn=========*/
/*input[type=text]:focus{
	box-shadow: inset 0 0 2px green;
}
input[type=checkbox]:checked label{
	color: green;
}
input[type=email]:valid{
	background: yellow;
	color: black;
}
input[type=email]:invalid{
	background: red;
	color: white;
}
input[type=submit]{
	margin-top: 20px;
	padding: 5px 10px;
}
input[type=submit]:enabled{
	background: green;
}
input[type=submit]:disabled{
	background: Lightgrey;
}*/

/*===========Links=========*/
/*a{
	color: #4caf50;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}*/
/*
a:link{
	text-decoration: none;
}
a:active{
	background: yellow;
}
a:visited{
	color: red;
}