.container {
    height: 400px;
    width: 800px;

    background: orange;
    border: 1px solid green;

    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.item {
    width: 180px;
    height: 120px;
    background: yellow;
    border: 1px solid red;
}