/*pseudo-elements*/
p::before{
	content: "--Before P tag--";
}
/*content: '';
    display: block;
    width: 45px;
    height: 2px;
    background: #f00;
    margin-top: 10px;*/
p::after{
	content: "--After P--";
}

ul li a{
	background: yellow;
	text-decoration: none;
}
ol>li>a{
	background: orange;
}
h2.upsize{
	font-size: 100px;
}
h1~p{
color: red;
}
/*Attribute selector*/
input[type=text]
{
	box-shadow: inset 5px 5px green;
}
a[href^https]
{
	text-decoration: none;
}