

.parent {
	width: 1120px;
	height: 600px;
	border: 1px solid green;
	margin: 0 auto;
	position: relative;
}

.wh200 {
	width: 200px;
	height: 200px;
}

div {
	width: 200px;
	height: 160px;
}

.block-1 {
	background-color: orange;
	position: absolute;
	top: 50px;
	left: 50px;
}

.block-2 {
	background-color: green;
}
.block-3 {
	background-color: blue;
	position: absolute;
	top: 0px;
}

.circle-1 {
 border-radius: 50%;
 background-color: rgba(0,255,0,0.5);
 position: relative;
 z-index: 3;

 font-size: 36px;
 text-align: center;
 padding-top: 82px;
 box-sizing: border-box;
}

.circle-2 {
	background-color: blue;
	border-radius: 50%;
	position: relative;
	left: 160px;
	bottom: 200px;

	z-index: 2;
	font-size: 36px;
	text-align: center;
	padding-top: 82px;
	box-sizing: border-box;

}