.circle-1{
	background-color: green;
	border-radius: 50%;
	position: relative;
	z-index: 3
}

.circle-2{
	background-color: blue;
	border-radius: 50%;
	position: relative;
	left: 160px;
	bottom: 200px;
	z-index: 2;

}

.parent{
	width: 1120px;
	height: 600px;
	border: 1px solid green;
	margin: 0 auto;
	position: relative;
}

.wh200{
	width: 200px;
	height: 160px;
}

.block-1{
	background-color: orange;
	position: absolute;
	top: 50px;
	left: 50px;
}

.block-2{
	background-color: green;
}
