ul li a {
	background: yellow;
	text-decoration: none;
}

ol> li > a {
	background: orange;
}

h2.upsize {
	text-transform: uppercase;
	font-size: 60px;
}

p.upsize {
	text-transform: uppercase;
	font-size: 32px;
}

h1 + p {
	color: red;
}

/*Attribute selector */

input[type = text] {
	box-shadow: inset 0 0 1px 1px green;
	border: 1px solid grey;
}

a[href ^= https] {
	text-decoration: none;
}

/*pseudo - element */
/* p::before {
 	content: "-- before p tag --"
 }*/

/* p::after {
 	content: "-- after p tag --";
 }*/

 div.contact-us>p::before {
 	content: "-- before p tag --";
 }
 div.contact-us>p::after {
 	content: "";
 	display: block;
 	width: 30px;
 	height: 3px;
 	background: red;
 	margin-top: 10px;
 }
