@font-face {
	font-family: "Chantelli";
	src: url("../fonts/Chantelli_Antiqua-webfont.woff") format("woff"),
		 url("../fonts/Chantelli_Antiqua-webfont.ttf") format("truetype");
}

.header-1{
    text-align: center;
    background: beige;
    font-size: 20px;
    line-height: 2.5;
    position: fixed;
    width: 100%;
    top: 0;

}

.parent{
    border: #00FF00 1px solid;
    width: 80%;
    height: 500px;
    margin: 100px auto;
    position: relative;
}

.block-a{
    width: 200px;
    height: 200px;
}

.gradient{
    height: 300px;
    width: 100%;
    background: linear-gradient(135deg, rgba(252,244,242,1) 50%,rgba(41,137,216,1) 50%,rgba(15,2,6,1) 50%,rgba(25,24,25,1) 100%);
}

.block--1{
    background-color: #00FF00;
    
}
.block--2{
    background-color: #FF0000;
    position: relative;
    margin-top: 20px;
}
.block--3{
    background-color: blue;
    position: absolute;
    top: 50px;
}

.block{
    background-color: #00FF00;
    height: 600px;
    width: 100%;
    background-image: url(../images/lemon.png);
    background-size: 100% 100%;
}

p {
    font-family: Chantelli;
}

.font{
    font-size: 30px;
}

.color-rgb{
    color: rgb(255,0,0);
}

.color-hex{
    color: #FF0000;
}

.list-style{
    list-style-type: square;
    list-style-position: inside;
    list-style-image: url(../images/world.png);
}

.block-1{
    height: 250px;
    width: 20%;
    background-color: aqua;
    float: left;
}

.block-3{
    clear: both;
}

.left{
    height: 400px;
    width: 67%;
    background-color: #FF0000;
    float: left;
    padding-top: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

.right{
    height: 400px;
    width: 33%;
    float: right;
    background-color: #00FF00;
}

.border{
    clear: both;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin: 0 auto;
}